<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <select class="form-control">
        <option>10</option>
        <option>25</option>
        <option>50</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
  </div>  
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Rack Location</th>
        <th>Qty</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let b of bookList" >
        <td>
          <input type="checkbox">
        </td>
        <td>{{ b.ISBN }}</td>
        <td>{{ b.BookName }}</td>
        <td>{{ b.AuthorName }}</td>
        <td>{{ b.RackLocation }}</td>
        <td>{{ b.Qty }}</td>
        <td>
          <button class="btn btn-primary" (click)="editBook(b.ISBN)" >Edit</button>
          <button class="btn btn-danger" (click)="removeBook(b.ISBN)" >Remove</button>
        </td>
      </tr>
    </table>
  </div>  
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-danger">Delete Selected</button>
  </div>
</div>