<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">ISBN</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="ISBN">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2">Book Category</label>
      <div class="col-md-10">
        <select class="form-control">
          <option>10</option>
          <option>25</option>
          <option>50</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Book Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Author Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Rack Location</label>
      <div class="col-md-10">
        <select class="form-control">
          <option>10</option>
          <option>25</option>
          <option>50</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Price</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Quantity</label>
      <div class="col-md-2">
        <input class="form-control" type="number" value="">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Description</label>
      <div class="col-md-10">
        <textarea name="" id="" rows="3" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="saveBook()">Save Book</button>
      </div>
    </div>

  </div>
</div>