<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">ISBN</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="ISBN">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2">Book Category</label>
      <div class="col-md-10">
        <select class="form-control" [(ngModel)]="BookCategory">
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Book Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="BookName">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Author Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="AuthorName">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Rack Location</label>
      <div class="col-md-10">
        <select class="form-control" [(ngModel)]="RackLocation">
          <option>Location A</option>
          <option>Location B</option>
          <option>Location C</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Price</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="Price">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Quantity</label>
      <div class="col-md-2">
        <input class="form-control" type="number" value="" [(ngModel)]="Qty">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Description</label>
      <div class="col-md-10">
        <textarea name="" id="" rows="3" class="form-control" [(ngModel)]="Description"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="addBook()">Add Book</button>
      </div>
    </div>

  </div>
</div>